@model pharosArt.Models.EditModel

<div style="width:100%">
    <table style="width:100%; text-align:center" align="center" border="0">
        <tr>
            <td colspan="4" align="center"><img src="@Model.ProfileImage.GetCropUrl("Profile")" /></td>
        </tr>
        <tr>
            <td colspan="4" align="center"><h1>@Model.FirstName @Model.LastName</h1></td>
        </tr>
        <tr>
            <td colspan="4">@Model.Biography</td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <h3 style="text-align:center">@Model.UserName</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/editProfile">Edit <i class="fa fa-arrow-right"></i></a>
            </td>
        </tr>
    </table>

    <div>
        @foreach (var pitcher in Model.RootMedia.Descendants().Where(x => x.DocumentTypeAlias == Image.ModelTypeAlias
         || x.DocumentTypeAlias == "File").Where(x => x.Parent.DocumentTypeAlias != ProfileFolder.ModelTypeAlias).InGroupsOf(4))
        {

            <div class="row">
                @foreach (var item in pitcher)
                {
                    if (!item.Url.Contains("mp3"))
                    {
                        <div class="col-md-3">
                            <a href="@item.Url" class="fancy-box-image" id="@item.Id">
                                <img alt="@item.Name" src="@item.GetCropUrl("Profile")" id="@item.Id" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <a href="@item.Url">
                                <img src="http://dreamatico.com/data_images/music/music-1.jpg" style="width:250px;position:relative;height:223px;" />
                                <audio controls style="width:250px;">
                                    <source src="@item.Url" type="audio/mpeg">
                                </audio>
                            </a>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["message"])
    </div>
}

