@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	var root = CurrentPage;
    @*var toHide = true;
    if(root == "login")
    {
        toHide = false;
    }*@
    var ite = 0;
}

<div class="row">
    <div class="col-md-12 search search-input">
        <span style="margin-left:6em;" class="fa fa-search"></span>
        <input type="search" placeholder="Search">
    </div>
</div>
<div style="text-align:center;">
    @{
        var typedMultiNodeTreePicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker");
        foreach (var item in typedMultiNodeTreePicker)
        {
            var content = Umbraco.NiceUrl(Int32.Parse(item.ToString()));
            var imgFront = Int32.Parse(item.GetPropertyValue("Thumbnail").ToString());
            var img = Umbraco.Media(imgFront);
            <a href="@content">
                <img src="@img.url" /><br/>
            </a>
            <br/><br/>
            @*mauro<p>name: @item.Name</p>
            <p>title: @item.GetPropertyValue("title")</p>*@
        }
    }
</div>
        @*<section id="main" class="container">
            <header>
               <h2>@Umbraco.Field("title")</h2>
            </header>*@
            @*<div class="box">*@
                @*<span><img src="@Umbraco.Media(CurrentPage.leadImage).Url"/></span>*@
        
        
        
                @if(Umbraco.MemberIsLoggedOn())
                {
                    @CurrentPage.body
                }
                
                 

            @Html.Action("ShowUploadedImages", "LandingPage")
                @*else
                {
                    @Html.Partial("Header")
                }
            </div>
        </section>*@
