@using pharosArt.Controllers;
@using pharosArt.Models;
@model List<pharosArt.Models.LandingPageModel>
@{
    ViewBag.Title = "LandingPage";
    var ite = 0;
}
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

<div class="content articles-wrapper">
    @foreach (var item in Model)
    {
        if (!item.MediaUrl.Contains("mp3"))
        {
            <div class="small-article">
                <div class="artcile">
                    <a data-fancybox="gallery" href="@item.MediaUrl">
                        <div class="image-wrapper">
                            <img src=@item.MediaUrl>
                        </div>
                    </a>
                    <div class="text-wrapper">
                        <div class="article-title"><a class="profile-link" href="/showprofile?id=@item.MemberId">@item.Author</a></div>
                        <div class="additional-info">
                        @item.UploadDate.ToString("dd MMM yyyy") &#183;
                        @if (item.Categories[0] != "No category")
                        {
                            foreach (var category in item.Categories)
                            {
                                <a href="/@category.ToLower()">@category</a>
                            }
                        }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="small-article">
                <div class="artcile">
                        <a data-fancybox="gallery" href="@item.MediaUrl" target="popup">
                            <img src="http://dreamatico.com/data_images/music/music-1.jpg" style="width:250px;position:relative;height:223px;" />
                            <audio controls style="width:250px;">
                                <source src="@item.MediaUrl" type="audio/mpeg">
                            </audio>
                        </a>
                        <div class="text-wrapper">
                            <div class="article-title"><a class="profile-link" href="/showprofile?id=@item.MemberId">@item.Author</a></div>
                            <div class="additional-info">
                                @item.UploadDate.ToString("dd MMM yyyy") &#183;
                                @if (item.Categories[0] != "No category")
                                {
                                    foreach (var category in item.Categories)
                                    {
                                        <a href="/@category.ToLower()">@category</a>
                                    }
                                }
                            </div>
                        </div>
                </div>
            </div>
        }
    }
</div>