@{
	Layout = "Master.cshtml";
}
@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@
@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@
@*@using ContentModels = Umbraco.Web.PublishedContentModels;*@
@using pharosArt.Controllers
@using pharosArt.Models
@model pharosArt.Models.ProfileMember
@{
	using (Html.BeginUmbracoForm("SubmitLogout", "Member", System.Web.Mvc.FormMethod.Post, new { id = "logout" }))
    {
        @Html.AntiForgeryToken()
        @*if (Model.Content.HasValue("picture"))
        {
            var dynamicMediaFolder = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("picture");
            foreach (var imageItem in dynamicMediaFolder)
            {
                    <div align="center"><img src="@imageItem.Url" />
                        <h1>@imageItem.GetPropertyValue("title")</h1>
                        <h3 style="width: 100%">@imageItem.GetPropertyValue("shortDescription")</h3>
                    </div>
                    <br/><br/>
            }
        }*@

        //var myUser = System.Web.Security.Membership.GetUser();
        //if (myUser != null)
        //{
            <div>
                @Model.description;
                @Model.memberName;
                @Model.profile.Username;
                @Model.memberName;
                @Model.memberLastName;
            </div>

            @*<p><strong>Logged in as</strong> <span>@myUser.UserName</span></p>*@
            <button name="login" type="submit"><span>logout</span> <i class="fa fa-arrow-right"></i></button>
        //}
    }  
}
