@model pharosArt.Models.EditModel

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
<style>
    td, th {
        padding: 9px;
    }
</style>
@using (Html.BeginUmbracoForm("SaveProfile", "Profile", FormMethod.Post))
{
    <div>
        @Html.Hidden("memberId", Model.MemberId)

        @Html.AntiForgeryToken()
    <div class="row">
        @Html.LabelFor(m => m.FirstName, new { @class="col-md-4", @style="margin-top:20px;font-family: raleway;padding-left: 0;"})
        @Html.TextBoxFor(m => m.FirstName, new {placeholder = "First Name", @style = "width:100%;", @class="col-md-8 editInput"})
    </div>
    <div class="row">
        @Html.LabelFor(m => m.LastName, new { @class="col-md-4", @style="margin-top:20px;;font-family: raleway;padding-left: 0;"})
        @Html.TextBoxFor(m => m.LastName, new {placeholder = "Last Name", @style = "width:100%;", @class="col-md-8 editInput"})
    </div>
    <div class="row">
        @Html.LabelFor(m => m.Biography, new { @class="col-md-4", @style="margin-top:20px;;font-family: raleway;padding-left: 0;"})
        @Html.TextAreaFor(m => m.Biography, new {placeholder = "description", @style = "width:100%;height:300px;", @class="col-md-8 editInput"})
    </div>
        @Html.ValidationSummary()
        <button name="edit" type="submit" style="padding:4px;width:100px;margin:auto;font-weight:600;margin-top:3em;"><span>Save </span><i class="fa fa-arrow-right"></i></button>
    </div>
}
   