@model pharosArt.Models.EditModel

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
<style>
    td, th {
        padding: 9px;
    }
</style>
@using (Html.BeginUmbracoForm("SaveProfile", "Profile", FormMethod.Post))
{
    <div>
        @Html.Hidden("memberId", Model.MemberId)

        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new {placeholder = "First Name", @style = "width:90%"})

        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new {placeholder = "Last Name", @style = "width:90%"})

        @Html.LabelFor(m => m.Biography)
        @Html.TextBoxFor(m => m.Biography, new {placeholder = "description", @style = "width:90%"})

        @Html.ValidationSummary()
        <button name="edit" type="submit"><span>Save</span><i class="fa fa-arrow-right"></i></button>
    </div>
}
   