@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using pharosArt.Controllers
@using Umbraco.Web
@{
    @* Get the root of the website *@
    var root = CurrentPage.AncestorOrSelf(1);
    var menuName = "";

}
<nav class="nav-menu">
    <div class="site-title-wrapper"><a id="logo" href="@root.Url">PHAROS</a></div>
    <ul style="text-align:left;" border="0" class="desktop-menu">
        @foreach (var page in root.Children.Where("Visible"))
        {
            menuName = page.Name;

            <li class="menuBit menuItemG @(page.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                <a href="@page.Url">@menuName</a>
            </li>
        }
        @if (Members.IsLoggedIn())
        {
            <li class="menuBit menuItemG @(@AppHelper.GetHomeNode().ProfilePage.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                <a href="@AppHelper.GetHomeNode().ProfilePage.Url"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;@AppHelper.GetHomeNode().ProfilePage.Name</a>
            </li>
            <li class="menuBit menuItemG">
                <a href="@Url.Action("SubmitLogout", "Login")">Logout</a>
            </li>
        }
    </ul>
    @Html.Partial("SocialMediaIcons")
    <button class="menu-btn btn-visible button">&#9776;</button>
</nav>

