@using pharosArt.Controllers
@using File = Umbraco.Web.PublishedContentModels.File
@model pharosArt.Models.EditModel



<div style="width:100%">
    <table style="width:100%; text-align:center" align="center" border="0">
        <tr>
            <td colspan="4" align="center"><img style="border-radius:50%;" src="@Model.ProfileImage.GetCropUrl("Profile")" /></td>
        </tr>
        <tr>
            <td colspan="4" align="center"><h1 style="text-transform:uppercase;">@Model.FirstName @Model.LastName</h1></td>
        </tr>
        <tr>
            <td colspan="4">@Model.Biography</td>
        </tr>
        @if (AppHelper.UmbHelper().MembershipHelper.IsLoggedIn())
        {
            <tr>
                <td colspan="2" style="padding:30px;">
                    <a href="/editProfile">Edit Profile <i class="fa fa-arrow-right"></i></a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:30px;">
                    <a href="/upload">Upload Work <i class="fa fa-arrow-right"></i></a>
                </td>
            </tr>
        }
    </table>

    <div>
        @foreach (var pitcher in Model.RootMedia.Descendants().Where(x => x.DocumentTypeAlias == Image.ModelTypeAlias
                     || x.DocumentTypeAlias == "File").Where(x => x.Parent.DocumentTypeAlias != ProfileFolder.ModelTypeAlias).InGroupsOf(4))
        {

            <div class="row">
                @foreach (var item in pitcher)
                {
                    if (item.DocumentTypeAlias == Image.ModelTypeAlias)
                    {
                        <div class="small-article">
                            <div class="artcile">
                                @Html.Partial("~/Views/Partials/Home/_ArticleThumbnailPartial.cshtml", new Image(item))
                            </div>
                        </div>
                    }
                    else if (item.DocumentTypeAlias == File.ModelTypeAlias)
                    {
                        <div class="small-article">
                            <div class="artcile">
                                @Html.Partial("~/Views/Partials/Home/_ArticleAudioPartial.cshtml", new File(item))
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>
