@using pharosArt.Controllers
@model pharosArt.Models.EditModel

<div style="width:100%">
    <div style="width:100%; text-align:center; margin-bottom:25px;">
        <p><img class="profile-image" style="border-radius:50%;" src="@Model.ProfileImage.GetCropUrl("Profile")" /></p>
        <p><h1 style="text-transform:uppercase;">@Model.FirstName @Model.LastName</h1></p>
        <p>@Model.Biography</p><br />
        @if (AppHelper.UmbHelper().MembershipHelper.IsLoggedIn())
        {
            <div class="row">
                <div class="col-md-4">
                    <a class="edit-buttons" href="/editProfile">Edit Profile <i class="fa fa-arrow-right"></i></a>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="edit-buttons" href="/upload">Upload Work <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        }
    </div>
    <div class="content articles-wrapper">
        @foreach (var item in Model.RootMedia.Descendants().Where(x => x.DocumentTypeAlias == ContentImage.ModelTypeAlias
                             || x.DocumentTypeAlias == ContentMusic.ModelTypeAlias || x.DocumentTypeAlias == ContentVideo.ModelTypeAlias)
                             .Where(x => x.Parent.DocumentTypeAlias != ProfileFolder.ModelTypeAlias))
        {
            <div class="small-article">
                <a href="/confirm-delete?id=@item.Id" class="delete-item-icon" title="Remove this item"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <div class="artcile">
                    @Html.Partial("~/Views/Partials/Home/_ArticleThumbnailPartial.cshtml", new ContentImage(item))
                </div>
            </div>

        }
    </div>
</div>
