@using pharosArt.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

    var twitter_icon = Umbraco.Media(7986);
    var facebook_icon = Umbraco.Media(7984);
    var instagram_icon = Umbraco.Media(7985);
    var home = AppHelper.GetHomeNode();
    
    <ul id="socialmedia_menu">
        @if (home.HasValue("twitterUrl"))
        {
            <li>
                <a href="@home.TwitterUrl" target="_blank">
                    <img src="@twitter_icon.Url" height="18" width="18" />
                </a>
            </li>
        }
        @if (home.HasValue("facebookUrl"))
        {
            <li>
                <a href="@home.FacebookUrl" target="_blank">
                    <img src="@facebook_icon.Url" height="18" width="18" />
                </a>
            </li>
        }
        @if (home.HasValue("instagramUrl"))
        {
            <li>
                <a href="@home.InstagramUrl" target="_blank">
                    <img src="@instagram_icon.Url" height="18" width="18" />
                </a>
            </li>
        }
    </ul>
}
